<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <!--1-50-->
    <add key="MaxDownloadingNumber" value="10"/>
    <!--5-20-->
    <add key="FileTheadNumber" value="5"/>
    <!--2-16M-->
    <add key="BufferSize" value="8"/>
    <!--2-16M-->
    <add key="DefaultDownloadFolder" value="D:\XDOWNLOAD"/>
  </appSettings>
</configuration>
